/* adding font */
@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Wotfard", sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 14px;  /* Adjust this to fit our needs */
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;  /* Track color */
}

html::-webkit-scrollbar-thumb {
  background-color: #a48caa;  /* Thumb color */
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: cadetblue;  /* Thumb color on hover */
}

html::-webkit-scrollbar-thumb:active {
  background-color: #2b7bbc;  /* Thumb color when active (clicking) */
}

/* Create the custom track using pseudo-elements */
html::-webkit-scrollbar-track:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;  /* Adjust this to fit as needed */
  background-color: #ccc;  /* Custom track color */
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

html::-webkit-scrollbar-track:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;  /* Adjust this to fit as needed */
  background-color: #ccc;  /* Custom track color */
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#main {
  height: 100%;
  background-color: white;
  position: relative;
}


/* Styles for the loading screen */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Change the background color as needed */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
}
.loading-screen > img{
  width: 100%;
  max-width: 500px;
}

.box {
  padding: 64px 20%;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero--image img {
  border-radius: 50%;
}

.subtitle-1 {
  text-align: center;
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.03em;
  margin: 16px 0;
}

.title {
  text-align: center;
  max-width: 840px;
  margin: 0px 0px 48px 0px;
  font-size: 5rem;
  line-height: 1.05;
}

@media only screen and (max-width: 767px) {
  .box{
    padding: 20px 5%;
  }
  .title{
    font-size: 3rem;
  }
}

.accent-line {
  background-image: url("./assets/text-highlight.png");
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.subtitle-2 {
  text-align: center;
  max-width: 540px;
  margin: 0px 0px 36px 0px;
  font-size: 1.2rem;
  line-height: 1.4;
}

strong {
  font-weight: bold;
}

address {
  text-align: center;
  margin: 20px 0px;
}

#vikasparmar-social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 88px;
}

a {
  color: #89728f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sub-heading {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  -webkit-letter-spacing: -0.025em;
  -moz-letter-spacing: -0.025em;
  -ms-letter-spacing: -0.025em;
  letter-spacing: -0.025em;
}

.heading a {
  color: #000;
  -webkit-text-decoration: none;
  text-decoration: none;
  margin-right: 8px;
}

.heading a:hover {
  text-decoration: underline;
}

.project-description {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.project-description-2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #575c67;
}

.project-description-2 a {
  color: #2b7bbc;
}

.profiles-box {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.profiles-box h4 {
  width: 200px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  -webkit-letter-spacing: -0.025em;
  -moz-letter-spacing: -0.025em;
  -ms-letter-spacing: -0.025em;
  letter-spacing: -0.025em;
}

.profiles-box a {
  color: #2b7bbc;
}

.fiverr-logo {
  max-width: 50px;
  position: fixed;
  right: 18px;
  bottom: 18px;
}

.fiverr-logo:hover {
  transition: all 250ms ease 0s;
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 8px #57445c);
  cursor: pointer;
  z-index: 8;
}

.fiverr-logo img {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 14px #89728f;
  border-radius: 50%;
}
