/* adding font */
@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Wotfard";
  src: url("./assets/fonts/Wotfard-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --color-white: #fff;
  --color-primary-100: #89728f;
  --color-primary-200: #655269;
  --color-primary-300: #49374e;

  --font-primary: "Wotfard", sans-serif;
  --line-height: 26px;
}

/* Reset some default styles to achieve consistent rendering across browsers */
html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Box sizing to include padding and border in element's total width and height */
* {
  box-sizing: border-box;
}

html {
  line-height: var(--line-height);
  font-family: var(--font-primary);
}

/* Custom Scrollbar styles */
html::-webkit-scrollbar {
  width: 6px; /* Adjust this to fit our needs */
}

html::-webkit-scrollbar-track {
  background-color: transparent; /* Track color */
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-100); /* Thumb color */
  border-radius: 3px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-200); /* Thumb color on hover */
}

html::-webkit-scrollbar-thumb:active {
  background-color: var(
    --color-primary-300
  ); /* Thumb color when active (clicking) */
}

/* Create the custom track using pseudo-elements */
html::-webkit-scrollbar-track:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px; /* Adjust this to fit as needed */
  background-color: transparent; /* Custom track color */
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

html::-webkit-scrollbar-track:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px; /* Adjust this to fit as needed */
  background-color: transparent; /* Custom track color */
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body {
  margin: 0;
  color: #262626;
  background: var(--color-white);
}

/* Set default styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  /* font-weight: 500; */
}

strong {
  font-weight: bold;
}

/* Responsive images */
img {
  max-width: 100%;
  vertical-align: middle;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.accent-line {
  background-image: url("./assets/text-highlight.png");
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.highlight {
  color: var(--color-primary-100);
}

.highlight-blue {
  color: rgb(194, 83, 97);
}

/* ========// Home  Page Styles //======== */
#container {
  position: relative;
  background-color: var(--color-white);
}

/* Styles for the loading screen */
#container #preloader {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#preloader .preloader__img {
  max-width: 30rem;
}

#preloader .preloader__caption {
  text-align: center;
}

#container #main {
  display: none;
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 1.5rem;
}

#main .header__wrapper {
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
  min-height: 100vh;
}

.header__image img {
  border-radius: 50%;
}

.header__wrapper .header__info {
  text-align: center;
}

.header__info .header__info__heading {
  padding: 0 10%;
  font-size: clamp(4rem,2vw,5rem);
  line-height: 1.2;
}

.header__info .header__info__subtitle {
  margin: 1rem 0;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 500;
}

.header__info .header__info__post-desc {
  padding: 0 15%;
  font-size: 1.2rem;
  line-height: 1.4;
}

.header__info .header__info__mail {
  margin: 1.2rem 0;
}

.header__info__mail a {
  color: var(--color-primary-100);
}

.header__labels {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#main .intro__wrapper,
#main .exp__wrapper,
#main .tech__wrapper,
#main .project__wrapper,
.footer {
  margin: 2rem 0;
}

.intro__heading,
.exp__heading,
.tech__heading,
.project__heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.intro__desc {
  color: #5f5f5f;
}

.exp__desc {
  margin-bottom: 2rem;
}

.exp__desc .exp__timeline {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.exp__desc .exp__designation {
  font-weight: 400;
  font-size: 1.2rem;
  color: #5f5f5f;
}

.tech__wrapper--images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 1rem;
}

.project__wrapper .project {
  margin: 1rem 0;
}

.project .project--title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 0.5rem;
}

.project .project__desc {
  color: #5f5f5f;
}

.footer .footer__socials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.footer__socials > h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.footer__socials > h2 > a {
  color: #2b7bbc;
}

/* Animations */
.scale-down-bottom {
  -webkit-animation: scale-down-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
* ----------------------------------------
* animation scale-down-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-down-bottom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes scale-down-bottom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
